<img src={{openLink}} width='1' height='1' style='display:none;' />
<h1>Welcome, {{name}}!</h1>
<p>Verify your account and get all features unlocked.</p>
<p>For security, this link expires 15 minutes after we send it, so please use it
  right away.</p>
<a href={{ctaLink}}>Verify</a>